<div class="input-group date">
  <input type="text" class="form-control" data-provide="datepicker"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
</div>

<!-- Script -->
<script type="text/javascript">
$(document).ready(function(){
    $('#datepicker').datepicker({todayHighlight: true, minDate: -0, format: "dd/mm/yyyy"}); 
});
</script>